header.header 
  .headerWrapper
    .headerHamburger      
      button(aria-label="Open modal",     data-micromodal-open="modal-hamburger", 
      data-micromodal-trigger="modal-hamburger")
        | H
    .headerLogo  
      .headerImage
        img(src="https://picsum.photos/30")
      .headerTitle
        a(href="/")
          | SP個別学院WebSiteA
    nav.listWrapper
      ul.list
        li.list__item
         a.list__link(href="/")
          | ホーム
        li.list__item
         a.list__link(href="/lesson.html")
          | 授業スタイル
        li.list__item
         a.list__link(href="/course.html")
          | 授業コース
        li.list__item
         a.list__link(href="/price.html")
          | 料金プラン  