header.header 
  .headerWrapper
    .headerHamburger      
      button(aria-label="Open modal",     data-micromodal-open="modal-hamburger", 
      data-micromodal-trigger="modal-hamburger")
        | H
    .headerLogo  
      .headerImage
        img(src="https://picsum.photos/30")
      .headerTitle
        a(href="/")
          | SP個別学院WebSite
    nav.listWrapper      
      include ./_headerLink