header.header 
  .headerWrapper  
    .headerTitle
      a(href="/")
        | SP個別学院WebSite
    nav.listWrapper
      ul.list
        li.list__item
         a.list__link(href="/")
          | ホーム
        li.list__item
         a.list__link(href="/lesson")
          | 授業スタイル
        li.list__item
         a.list__link(href="/course")
          | 授業コース
        li.list__item
         a.list__link(href="/price")
          | 料金プラン  