header.header 
  .headerWrapper
    .headerHamburger      
      button(aria-label="Open modal",data-micromodal-open="modal-hamburger", 
      data-micromodal-trigger="modal-hamburger").c-button.p-hamburger
       span.material-symbols-outlined.custom
        | menu
    .headerLogo      
      .headerTitle
        a(href="/")
          | SP個別学院WebSite
    nav.listWrapper      
      include ./_headerLink