ul.list
  li.list__item
    a.list__link(href="/")
      | ホーム
  li.list__item
    a.list__link(href="/style.html")
      | 授業スタイル
  li.list__item
    a.list__link(href="/course.html")
      | 授業コース
  li.list__item
    a.list__link(href="/special-course.html")
      | 特別講習
  li.list__item
    a.list__link(href="/price.html")
      | 料金プラン  
  