doctype html
html(lang="ja")
  include template/_head
  body
    include template/_header
    main
      section   
        h1 SP個別学院 
        include template/_modal_sample
        button(aria-label="Open modal",     data-micromodal-open="modal-sample", 
                  data-micromodal-trigger="modal-sample")
                    | open     
      section 
        include template/_hamburgerMenu
        button(aria-label="Open modal",     data-micromodal-open="modal-hamburger", 
          data-micromodal-trigger="modal-hamburger")
            | ハンバーガー開く
      section 
      section 
    script(type="module" src="./script/modal.js")
