doctype html
html(lang="ja")
  include template/_head
  body
    include template/_header
    main
      section.sectionWrapper.sectionWrapper--wide
        picture.topImageWrapper
          source(media="(min-width: 768px)" srcset="/images/titleimage_pc.png")
          img(src="/images/titleimage_sp.png").topImage
      section.sectionWrapper.sectionWrapper--center  
        .topMessageWrapper 
          h1.topMessage 毎授業ひとつ上の自分に  
      section.sectionWrapper
        .cardWrapper
          .card
            .card__text 授業スタイル
            .card__img 
              a(href="style.html")
                img(src="/images/01.jpg")
          .card
            .card__text 授業コース
            .card__img 
              a(href="course.html")
                img(src="/images/02.png")
          .card
            .card__text 料金プラン
            .card__img 
              a(href="price.html")
                img(src="/images/03.jpg")
      section.sectionWrapper.sectionWrapper--center
        .time__title
          | 授業時間割
        ul.timeList
          li.time__item
            |16:30-17:30
          li.time__item
            |17:30-18:30
          li.time__item
            |18:30-19:30
          li.time__item 
            |19:30-20:30
          li.time__item     
            |20:30-21:30
        .inquiryWrapper
          a(href="https://docs.google.com/forms/d/18Q_44KE6iqUSLjWerCJgdOxEZ5x8hrvXqY1dA5zRme4/viewform?edit_requested=true").inquiryLink
            | お問い合せ
      section.sectionWrapper
        .media
          .media__info 
            .media__text.media__text--strong 
              | TEL: 090-1164-5784 
            .media__text  
              p 〒559-0012
              p 大阪府大阪市住之江区東加賀屋3-11-14
              p Fメゾンガーデン101 SP個別学院
            .media__text
              p 北加賀屋駅から徒歩8分
          .media__map
            iframe(src='https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1641.756708870577!2d135.48227622663853!3d34.616463733528825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2s!5e0!3m2!1sja!2sjp!4v1719572013978!5m2!1sja!2sjp', width='600', height='450', style='border:0;', allowfullscreen='', loading='lazy', referrerpolicy='no-referrer-when-downgrade')
    include template/_hamburgerMenu
    script(type="module" src="./script/modal.js")
