doctype html
html(lang="ja")
  include template/_head
  body
    include template/_header
    main
      section.sectionWrapper
        .contentTitleWrapper   
          h1.contentTitle 料金プラン      
        .contentSubTitleWrapper
          h2.contentSubTitle 1コマ90分 
            span.contentSubTitle--small (授業60分+質問し放題自習30分)      
      section.sectionWrapper
        .priceWrapper
          .priceTable
            table.priceTable
              thead.text.text--head
                tr
                  th.text.text--head 
                  th.text.text--head 週1コマ
                  th.text.text--head 週2コマ
              tbody
                tr
                  th.text.text--head.text--tall 小学生<br class="table"/>
                  td.text--content 9,000円/月
                  td.text--content 14,000円/月
                tr
                  th.text.text--head.text--tall 中学生<br class="table"/>
                  td.text--content 12,000円/月
                  td.text--content 16,000円/月
          .captionWrapper 
            ul
              li ※ 週3コマ以上相談可能です。
              li ※ 家族割引ございます。
              li ※ <span class="text--alert"> 塾代助成</span>もご利用できます。
            ul.priceInfo
              li +入塾金<span class="text--overline text--superscript">5,000円</span>
    include template/_hamburgerMenu
    script(type="module" src="./script/modal.js")