doctype html
html(lang="ja")
  include template/_head
  body
    include template/_header
    main
      section.sectionWrapper
        .contentTitleWrapper   
          h1.contentTitle 料金プラン      
        .contentSubTitleWrapper
          h2.contentSubTitle 授業60分+質問付き自習30分
      section.sectionWrapper 
        img(src="/images/料金プランjpeg.jpeg")
    include template/_hamburgerMenu
    script(type="module" src="./script/modal.js")