doctype html
html(lang="ja")
  include template/_head
  body
    include template/_header
    main
      section.sectionWrapper
        h1 画像
    include template/_hamburgerMenu   
    script(type="module" src="./script/modal.js")