doctype html
html(lang="ja")
  include template/_head
  body
    include template/_header
    main
      section.sectionWrapper
        .mt-2
          img(src="/images/sp-open.jpg", alt="", srcset="")
    include template/_hamburgerMenu   
    script(type="module" src="./script/modal.js")