doctype html
html(lang="ja")
  include template/_head
  body
    include template/_header
    main
      section.sectionWrapper
        .contentTitleWrapper   
          h1.contentTitle 授業スタイル
        .contentSubTitleWrapper
          h2.contentSubTitle 授業60分+質問し放題自習30分
        .styleWrapper
          .style__text
            p.contentText 授業1コマ  前半60分授業＋後半30分質問し放題の合計90分 です。
            p.contentText 大手塾では長時間の授業をメインで行なっており、自分で手で動かして身につけていくという過程が不足しがちです。
            p.contentText SP個別学院では授業後即自習のスタイルを採用しており、授業内容を即座に落とし込むことが可能です。さらに自習時間中は納得するまで何度も講師陣に質問することができます。
        
        .aa
          img(src="/images/student-with-teacher.jpg", alt="")
          img(src="/images/arrow-right.jpg", alt="").arrow-right
          img(src="/images/self-study.jpg", alt="")
          //- .style__img 
          //-   img(src="images/bachin.jpg", alt="", srcset="")

        include template/_hamburgerMenu      
   
    include template/_hamburgerMenu   
    script(type="module" src="./script/modal.js")