@use "../style/mixin/responsive" as *;

//コメント追加すげー
body {
  width: 100%;
}

.sectionWrapper {
  margin-inline: auto;
  width: min(80%, 1300px);
  margin-bottom: 3rem;
}

.sectionWrapper:last-child {
  padding-bottom: 3rem;
}
.sectionWrapper--wide {
  width: 100%;
}

.sectionWrapper--center {
  text-align: center;
}

.topImage {
  width: 100%;
  object-fit: cover;
}

.topMessageWrapper {
  margin: 5rem 0 3rem;
}
.topMessage {
  color: var(--sub-color);
  font-size: 32px;
  font-weight: 400;
}

.cardWrapper {
  display: block;
  margin-inline: auto;
  @include responsive(md) {
    display: flex;
  }
}

.card {
  @include responsive(md) {
    width: calc(100% / 3);
  }
}

.card:not(:last-child) {
  margin-bottom: 2rem;
  @include responsive(md) {
    margin-right: 1.5rem;
    margin-bottom: 0;
  }
}

.card__text {
  color: var(--main-color-first);
  font-size: 32px;
  text-align: center;
}

.card__img img {
  transition: transform 200ms ease-out;
}
.card__img:hover img {
  transform: translateY(-10px);
}

.timeList {
  margin-bottom: 2rem;
}

.time__title {
  font-size: 32px;
  margin-bottom: 1rem;
}

.time__item {
  font-size: 32px;
  margin-bottom: 0.5rem;
}

.inquiryWrapper {
  margin-bottom: 2rem;
}
.inquiryLink {
  display: inline-block;
  background-color: rgba(86, 174, 86, 1);
  padding: 1rem 2rem;
  border-radius: 3px;
  color: black;
  text-decoration: none;
  transition: box-shadow 0.4s ease-in-out;
}

.inquiryLink:hover {
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.65);
}

.media {
  display: block;
  @include responsive(md) {
    display: flex;
  }
}

.media__info {
  margin-bottom: 2rem;
  @include responsive(md) {
    margin-bottom: 0;
    width: 50%;
  }
}

.media__text {
  font-size: 20px;
}

.media__text:not(:last-child) {
  margin-bottom: 2rem;
}

.media__text--strong {
  font-weight: bold;
  font-size: 30px;
}

.media__map {
  @include responsive(md) {
    width: 50%;
  }
}

.contentTitleWrapper {
  padding: 1rem 0 2rem;
}

.contentSubTitleWrapper {
  padding: 1rem 0;
}

.contentTitle {
  color: var(--main-color-second);
  font-weight: 700;
  font-size: 3rem;
}

.contentSubTitle {
  color: var(--main-color-second);
  font-weight: 400;
  font-size: 2rem;
}

.contentText {
  margin-bottom: 5px;
}

.content {
  margin-bottom: 5rem;
}

.content__detail {
  margin-bottom: 3rem;
}

//共通のクラス
.contentDetailTitle {
  margin-bottom: 1rem;
  background-color: red;
  display: inline-block;
}

.matsuki {
  background-color: green;
  color: white;
}

.course {
  display: flex;
}

.course__text {
  width: 65%;
  margin-right: 15px;
}

.course__img {
  // width: 35%;
  flex: 1;
}

.priceWrapper {
  max-width: 1000px;
  margin-inline: auto;
}

.priceTable {
  overflow: auto;
}
table {
  border-collapse: collapse;
}
td,
th {
  white-space: nowrap;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
td {
  text-align: right;
  padding-inline: 0.3rem;
  background-color: #8eb9ff;
  color: black;
}
th {
  position: sticky;
  top: 0;
  left: 0;
  background: #f2f2f2;
  padding: 0.5rem;
}

tr:first-child th:first-child {
  z-index: 1;
}

tr:first-child th {
  border-top: 2px solid white;
}
th:first-child {
  border-left: 2px solid white;
}

.priceTable {
  width: 100%;
}

.text {
  color: white;
}

br.table {
  display: block;
  @include responsive(md) {
    display: none;
  }
}

.text--head {
  background-color: var(--main-color-second);
}

.text--warning {
  color: yellow;
}

.text--center {
  text-align: center;
}

.text--overline {
  text-decoration: line-through;
}

.captionWrapper {
  display: block;
  @include responsive(md) {
    display: flex;
  }
}

.priceInfo {
  margin-top: 1rem;
  margin-left: auto;
}

.text--superscript::before {
  content: "無料";
  color: red;
  position: absolute;
  transform: translate(6px, -16px);
}

.text--alert {
  color: red;
}
